


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Asset Manager &middot; Eckerd College</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="class schedule">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico" />


	</head>
	<body>
        <!-- Fixed navbar -->
		<div class="navbar navbar-inverse navbar-static-top hidden-print" role="navigation">
			<div class="container">

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><em>Eckerd College Asset Manager</em></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				</div><!--/.nav-collapse -->
			</div><!-- /.container -->
		</div>
		<!-- Begin page content -->
		<div class="container">

<div class="row">
    <div class="col-md-12">
        <h2>EC Asset Manager</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br/>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <form action="." method="post"><input type='hidden' name='csrfmiddlewaretoken' value='3SaDnoh8lwed4wk5x1tH2HfYsmweAIAX' />
            <fieldset>
                <legend>Course Search</legend>
                <div class="row">
                    <div class="col-md-4">
                        <label for="subject">Subject:</label>
                        <select id="subject" class="form-control" name="subject">

                            <option label="All" value="0|All">All</option>


                            <option label="American Studies" value="AM|American Studies">American Studies</option>

                            <option label="Ancient Studies" value="AS|Ancient Studies">Ancient Studies</option>

                            <option label="Anthropology" value="AN|Anthropology">Anthropology</option>

                            <option label="Arabic" value="AB|Arabic">Arabic</option>

                            <option label="Art" value="AR|Art">Art</option>

                            <option label="Art History" value="AH|Art History">Art History</option>

                            <option label="Behavioral Science" value="BE|Behavioral Science">Behavioral Science</option>

                            <option label="Biology" value="BI|Biology">Biology</option>

                            <option label="Chemistry" value="CH|Chemistry">Chemistry</option>

                            <option label="Chinese" value="CN|Chinese">Chinese</option>

                            <option label="Classical Humanities" value="CL|Classical Humanities">Classical Humanities</option>

                            <option label="Communication" value="CM|Communication">Communication</option>

                            <option label="Composition" value="CO|Composition">Composition</option>

                            <option label="Computer Science" value="CS|Computer Science">Computer Science</option>

                            <option label="Creative Arts" value="CR|Creative Arts">Creative Arts</option>

                            <option label="Creative Writing" value="CW|Creative Writing">Creative Writing</option>

                            <option label="East Asian Studies" value="EA|East Asian Studies">East Asian Studies</option>

                            <option label="Economics" value="EC|Economics">Economics</option>

                            <option label="Environmental Studies" value="ES|Environmental Studies">Environmental Studies</option>

                            <option label="Film Studies" value="FI|Film Studies">Film Studies</option>

                            <option label="Ford Apprentice Scholars" value="FS|Ford Apprentice Scholars">Ford Apprentice Scholars</option>

                            <option label="Foundations" value="FD|Foundations">Foundations</option>

                            <option label="French" value="FR|French">French</option>

                            <option label="Greek" value="GK|Greek">Greek</option>

                            <option label="History" value="HI|History">History</option>

                            <option label="Honors Program 2nd semester" value="HP2|Honors Program 2nd semester">Honors Program 2nd semester</option>

                            <option label="Human Development" value="HD|Human Development">Human Development</option>

                            <option label="Interdisciplinary Arts" value="IA|Interdisciplinary Arts">Interdisciplinary Arts</option>

                            <option label="International Business" value="IB|International Business">International Business</option>

                            <option label="International Studies" value="IS|International Studies">International Studies</option>

                            <option label="Italian" value="IT|Italian">Italian</option>

                            <option label="Japanese" value="JA|Japanese">Japanese</option>

                            <option label="Latin" value="LA|Latin">Latin</option>

                            <option label="Letters" value="LT|Letters">Letters</option>

                            <option label="Literature" value="LI|Literature">Literature</option>

                            <option label="Management" value="MN|Management">Management</option>

                            <option label="Marine Science" value="MS|Marine Science">Marine Science</option>

                            <option label="Mathematics" value="MA|Mathematics">Mathematics</option>

                            <option label="Military Air Force" value="AFR|Military Air Force">Military Air Force</option>

                            <option label="Military Army" value="MAR|Military Army">Military Army</option>

                            <option label="Music" value="MU|Music">Music</option>

                            <option label="Natural Sciences" value="NA|Natural Sciences">Natural Sciences</option>

                            <option label="Philosophy" value="PL|Philosophy">Philosophy</option>

                            <option label="Physical Education" value="PE|Physical Education">Physical Education</option>

                            <option label="Physics" value="PH|Physics">Physics</option>

                            <option label="Political Science" value="PO|Political Science">Political Science</option>

                            <option label="Psychology" value="PS|Psychology">Psychology</option>

                            <option label="Quest for Meaning" value="QM|Quest for Meaning">Quest for Meaning</option>

                            <option label="Religious Studies" value="RE|Religious Studies">Religious Studies</option>

                            <option label="Russian Studies" value="RU|Russian Studies">Russian Studies</option>

                            <option label="Sociology" value="SO|Sociology">Sociology</option>

                            <option label="Spanish" value="SP|Spanish">Spanish</option>

                            <option label="Theatre" value="TH|Theatre">Theatre</option>

                            <option label="Women&#39;s &amp; Gender Studies" value="WG|Women&#39;s &amp; Gender Studies">Women&#39;s &amp; Gender Studies</option>

                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="area">Academic Area / Prespective</label>
                        <select id="area" class="form-control" name="area">

                            <option label="All" value="0|All">All</option>


                            <option label="Arts Academic Area" value="A|Arts Academic Area">Arts Academic Area</option>

                            <option label="Environmental Perspective" value="E|Environmental Perspective">Environmental Perspective</option>

                            <option label="Global Perspective" value="G|Global Perspective">Global Perspective</option>

                            <option label="Humanities Academic Area" value="H|Humanities Academic Area">Humanities Academic Area</option>

                            <option label="Computational" value="M|Computational">Computational</option>

                            <option label="Natural Science Academic Area" value="N|Natural Science Academic Area">Natural Science Academic Area</option>

                            <option label="Social Science Academic Area" value="S|Social Science Academic Area">Social Science Academic Area</option>

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="instructor">Instructor:</label>
                        <select id="instructor" class="form-control" name="instructor">

                            <option label="All" value="0|All">All</option>


                            <option label="Albrecht, Mike" value="Albrecht, Mike|Albrecht, Mike">Albrecht, Mike</option>

                            <option label="Andersen, Nate" value="Andersen, Nate|Andersen, Nate">Andersen, Nate</option>

                            <option label="Anderson, John" value="Anderson, John|Anderson, John">Anderson, John</option>

                            <option label="Angulo-Cano, Yanira" value="Angulo-Cano, Yanira|Angulo-Cano, Yanira">Angulo-Cano, Yanira</option>

                            <option label="Armshaw, Patrick" value="Armshaw, Patrick|Armshaw, Patrick">Armshaw, Patrick</option>

                            <option label="Ashman, Thomas" value="Ashman, Thomas|Ashman, Thomas">Ashman, Thomas</option>

                            <option label="Auger, Christine" value="Auger, Christine|Auger, Christine">Auger, Christine</option>

                            <option label="Barber, Bruce" value="Barber, Bruce|Barber, Bruce">Barber, Bruce</option>

                            <option label="Bollier, Evan" value="Bollier, Evan|Bollier, Evan">Bollier, Evan</option>

                            <option label="Boucquey, Noelle" value="Boucquey, Noelle|Boucquey, Noelle">Boucquey, Noelle</option>

                            <option label="Braccio, Joseph" value="Braccio, Joseph|Braccio, Joseph">Braccio, Joseph</option>

                            <option label="Brooks, Gregg" value="Brooks, Gregg|Brooks, Gregg">Brooks, Gregg</option>

                            <option label="Brunello, Anthony" value="Brunello, Anthony|Brunello, Anthony">Brunello, Anthony</option>

                            <option label="Bryant, David" value="Bryant, David|Bryant, David">Bryant, David</option>

                            <option label="Buck, April" value="Buck, April|Buck, April">Buck, April</option>

                            <option label="Burch, Michael" value="Burch, Michael|Burch, Michael">Burch, Michael</option>

                            <option label="Burnett, Scott" value="Burnett, Scott|Burnett, Scott">Burnett, Scott</option>

                            <option label="Champigny-Hotel, Sophie" value="Champigny-Hotel, Sophie|Champigny-Hotel, Sophie">Champigny-Hotel, Sophie</option>

                            <option label="Chapin, Lloyd" value="Chapin, Lloyd|Chapin, Lloyd">Chapin, Lloyd</option>

                            <option label="Chemel, Benjamin" value="Chemel, Benjamin|Chemel, Benjamin">Chemel, Benjamin</option>

                            <option label="Chen, Jing" value="Chen, Jing|Chen, Jing">Chen, Jing</option>

                            <option label="Chittick, Andrew" value="Chittick, Andrew|Chittick, Andrew">Chittick, Andrew</option>

                            <option label="Chopan, Jon" value="Chopan, Jon|Chopan, Jon">Chopan, Jon</option>

                            <option label="Collins, Jill" value="Collins, Jill|Collins, Jill">Collins, Jill</option>

                            <option label="Collins, Shannon Leigh" value="Collins, Shannon Leigh|Collins, Shannon Leigh">Collins, Shannon Leigh</option>

                            <option label="Conrad, Liza" value="Conrad, Liza|Conrad, Liza">Conrad, Liza</option>

                            <option label="Contreras, Marita" value="Contreras, Marita|Contreras, Marita">Contreras, Marita</option>

                            <option label="Cook, Meghan" value="Cook, Meghan|Cook, Meghan">Cook, Meghan</option>

                            <option label="Cox, Anne" value="Cox, Anne|Cox, Anne">Cox, Anne</option>

                            <option label="Debure, Kelly" value="Debure, Kelly|Debure, Kelly">Debure, Kelly</option>

                            <option label="Denison, Steve" value="Denison, Steve|Denison, Steve">Denison, Steve</option>

                            <option label="DiNardo, Carl" value="DiNardo, Carl|DiNardo, Carl">DiNardo, Carl</option>

                            <option label="DiSalvo, Thomas" value="DiSalvo, Thomas|DiSalvo, Thomas">DiSalvo, Thomas</option>

                            <option label="Dickinson, Paige" value="Dickinson, Paige|Dickinson, Paige">Dickinson, Paige</option>

                            <option label="Dobbins, Zachary" value="Dobbins, Zachary|Dobbins, Zachary">Dobbins, Zachary</option>

                            <option label="Douglas, Brent" value="Douglas, Brent|Douglas, Brent">Douglas, Brent</option>

                            <option label="Duncan, David" value="Duncan, David|Duncan, David">Duncan, David</option>

                            <option label="Ellis, Harry" value="Ellis, Harry|Ellis, Harry">Ellis, Harry</option>

                            <option label="Empric, Julienne" value="Empric, Julienne|Empric, Julienne">Empric, Julienne</option>

                            <option label="Epstein, Joan" value="Epstein, Joan|Epstein, Joan">Epstein, Joan</option>

                            <option label="Eubanks, Dawne" value="Eubanks, Dawne|Eubanks, Dawne">Eubanks, Dawne</option>

                            <option label="Felardo, Jeff" value="Felardo, Jeff|Felardo, Jeff">Felardo, Jeff</option>

                            <option label="Felice, William" value="Felice, William|Felice, William">Felice, William</option>

                            <option label="Fernandez, Eduardo" value="Fernandez, Eduardo|Fernandez, Eduardo">Fernandez, Eduardo</option>

                            <option label="Flaherty, Denise" value="Flaherty, Denise|Flaherty, Denise">Flaherty, Denise</option>

                            <option label="Flaherty, Michael" value="Flaherty, Michael|Flaherty, Michael">Flaherty, Michael</option>

                            <option label="Fly, Jessie" value="Fly, Jessie|Fly, Jessie">Fly, Jessie</option>

                            <option label="Foltz, Bruce" value="Foltz, Bruce|Foltz, Bruce">Foltz, Bruce</option>

                            <option label="Forys, Beth" value="Forys, Beth|Forys, Beth">Forys, Beth</option>

                            <option label="Fuguitt, Diana" value="Fuguitt, Diana|Fuguitt, Diana">Fuguitt, Diana</option>

                            <option label="Gavel, Alan" value="Gavel, Alan|Gavel, Alan">Gavel, Alan</option>

                            <option label="Gendreau, Audrey" value="Gendreau, Audrey|Gendreau, Audrey">Gendreau, Audrey</option>

                            <option label="Gerdeman, Gregory" value="Gerdeman, Gregory|Gerdeman, Gregory">Gerdeman, Gregory</option>

                            <option label="Gliem, David" value="Gliem, David|Gliem, David">Gliem, David</option>

                            <option label="Goetsch, James" value="Goetsch, James|Goetsch, James">Goetsch, James</option>

                            <option label="Goodman-Wilson, Miranda" value="Goodman-Wilson, Miranda|Goodman-Wilson, Miranda">Goodman-Wilson, Miranda</option>

                            <option label="Gowans, Shannon" value="Gowans, Shannon|Gowans, Shannon">Gowans, Shannon</option>

                            <option label="Graca, Sandra" value="Graca, Sandra|Graca, Sandra">Graca, Sandra</option>

                            <option label="Gratta, Alfred" value="Gratta, Alfred|Gratta, Alfred">Gratta, Alfred</option>

                            <option label="Green, Jane" value="Green, Jane|Green, Jane">Green, Jane</option>

                            <option label="Grissom, Kurt" value="Grissom, Kurt|Grissom, Kurt">Grissom, Kurt</option>

                            <option label="Grove, David" value="Grove, David|Grove, David">Grove, David</option>

                            <option label="Gu, Hong" value="Gu, Hong|Gu, Hong">Gu, Hong</option>

                            <option label="Guerin, Adam" value="Guerin, Adam|Guerin, Adam">Guerin, Adam</option>

                            <option label="Haas, Nancy" value="Haas, Nancy|Haas, Nancy">Haas, Nancy</option>

                            <option label="Hall, Thomas" value="Hall, Thomas|Hall, Thomas">Hall, Thomas</option>

                            <option label="Haluszka, Adria" value="Haluszka, Adria|Haluszka, Adria">Haluszka, Adria</option>

                            <option label="Hamilton, Frank" value="Hamilton, Frank|Hamilton, Frank">Hamilton, Frank</option>

                            <option label="Hammerschmidt, Peter" value="Hammerschmidt, Peter|Hammerschmidt, Peter">Hammerschmidt, Peter</option>

                            <option label="Handorf, Jamey" value="Handorf, Jamey|Handorf, Jamey">Handorf, Jamey</option>

                            <option label="Harris, Janet" value="Harris, Janet|Harris, Janet">Harris, Janet</option>

                            <option label="Harrison, Suzan" value="Harrison, Suzan|Harrison, Suzan">Harrison, Suzan</option>

                            <option label="Hartston, Barnet" value="Hartston, Barnet|Hartston, Barnet">Hartston, Barnet</option>

                            <option label="Harvey, Briana" value="Harvey, Briana|Harvey, Briana">Harvey, Briana</option>

                            <option label="Hastings, David" value="Hastings, David|Hastings, David">Hastings, David</option>

                            <option label="Hawk, Gavin" value="Hawk, Gavin|Hawk, Gavin">Hawk, Gavin</option>

                            <option label="Haworth, Anne" value="Haworth, Anne|Haworth, Anne">Haworth, Anne</option>

                            <option label="Henry, Patrick" value="Henry, Patrick|Henry, Patrick">Henry, Patrick</option>

                            <option label="Henry, Timothy" value="Henry, Timothy|Henry, Timothy">Henry, Timothy</option>

                            <option label="Heydt, Alison" value="Heydt, Alison|Heydt, Alison">Heydt, Alison</option>

                            <option label="Highfill, Lauren" value="Highfill, Lauren|Highfill, Lauren">Highfill, Lauren</option>

                            <option label="Himmelfarb, David" value="Himmelfarb, David|Himmelfarb, David">Himmelfarb, David</option>

                            <option label="Hindsley, Paul" value="Hindsley, Paul|Hindsley, Paul">Hindsley, Paul</option>

                            <option label="Howard, Jeff" value="Howard, Jeff|Howard, Jeff">Howard, Jeff</option>

                            <option label="Huegel, Craig" value="Huegel, Craig|Huegel, Craig">Huegel, Craig</option>

                            <option label="Huffstutler, Dea Dea" value="Huffstutler, Dea Dea|Huffstutler, Dea Dea">Huffstutler, Dea Dea</option>

                            <option label="Humphreys, Katherine" value="Humphreys, Katherine|Humphreys, Katherine">Humphreys, Katherine</option>

                            <option label="Humphries, Ashley" value="Humphries, Ashley|Humphries, Ashley">Humphries, Ashley</option>

                            <option label="Irby, Lee" value="Irby, Lee|Irby, Lee">Irby, Lee</option>

                            <option label="Irwin Jr., David" value="Irwin Jr., David|Irwin Jr., David">Irwin Jr., David</option>

                            <option label="Janack, James" value="Janack, James|Janack, James">Janack, James</option>

                            <option label="Janus, Nancy" value="Janus, Nancy|Janus, Nancy">Janus, Nancy</option>

                            <option label="Johnston, Carolyn" value="Johnston, Carolyn|Johnston, Carolyn">Johnston, Carolyn</option>

                            <option label="Jones, Brian" value="Jones, Brian|Jones, Brian">Jones, Brian</option>

                            <option label="Jones, Pamela" value="Jones, Pamela|Jones, Pamela">Jones, Pamela</option>

                            <option label="Jozkowski, Robert" value="Jozkowski, Robert|Jozkowski, Robert">Jozkowski, Robert</option>

                            <option label="Kaplan, Laurie" value="Kaplan, Laurie|Kaplan, Laurie">Kaplan, Laurie</option>

                            <option label="Kelly, Bill" value="Kelly, Bill|Kelly, Bill">Kelly, Bill</option>

                            <option label="Kerr, David" value="Kerr, David|Kerr, David">Kerr, David</option>

                            <option label="Khare, Virginie" value="Khare, Virginie|Khare, Virginie">Khare, Virginie</option>

                            <option label="Knippen, Jennifer" value="Knippen, Jennifer|Knippen, Jennifer">Knippen, Jennifer</option>

                            <option label="Krueger, Tonia" value="Krueger, Tonia|Krueger, Tonia">Krueger, Tonia</option>

                            <option label="Lager, Grace" value="Lager, Grace|Lager, Grace">Lager, Grace</option>

                            <option label="Langenberg, Amy" value="Langenberg, Amy|Langenberg, Amy">Langenberg, Amy</option>

                            <option label="Larkin, Joseph" value="Larkin, Joseph|Larkin, Joseph">Larkin, Joseph</option>

                            <option label="Lazarre, Dominique" value="Lazarre, Dominique|Lazarre, Dominique">Lazarre, Dominique</option>

                            <option label="Lessmann, Jeannine" value="Lessmann, Jeannine|Lessmann, Jeannine">Lessmann, Jeannine</option>

                            <option label="Lester, Betsy" value="Lester, Betsy|Lester, Betsy">Lester, Betsy</option>

                            <option label="Long, Joseph" value="Long, Joseph|Long, Joseph">Long, Joseph</option>

                            <option label="Lopez, Davina" value="Lopez, Davina|Lopez, Davina">Lopez, Davina</option>

                            <option label="Lutz, Christina" value="Lutz, Christina|Lutz, Christina">Lutz, Christina</option>

                            <option label="Maciejczyk, Polina" value="Maciejczyk, Polina|Maciejczyk, Polina">Maciejczyk, Polina</option>

                            <option label="Majeed, Qays" value="Majeed, Qays|Majeed, Qays">Majeed, Qays</option>

                            <option label="Makin-Byrd, Lori" value="Makin-Byrd, Lori|Makin-Byrd, Lori">Makin-Byrd, Lori</option>

                            <option label="Manson, David" value="Manson, David|Manson, David">Manson, David</option>

                            <option label="Mathews Jr., William" value="Mathews Jr., William|Mathews Jr., William">Mathews Jr., William</option>

                            <option label="Mauch, Holger" value="Mauch, Holger|Mauch, Holger">Mauch, Holger</option>

                            <option label="McMahon Jr, Douglas" value="McMahon Jr, Douglas|McMahon Jr, Douglas">McMahon Jr, Douglas</option>

                            <option label="Melchor, Antonio" value="Melchor, Antonio|Melchor, Antonio">Melchor, Antonio</option>

                            <option label="Merchant, Nazarre" value="Merchant, Nazarre|Merchant, Nazarre">Merchant, Nazarre</option>

                            <option label="Meyer McAleese, Mary" value="Meyer McAleese, Mary|Meyer McAleese, Mary">Meyer McAleese, Mary</option>

                            <option label="Meyers, Allan" value="Meyers, Allan|Meyers, Allan">Meyers, Allan</option>

                            <option label="Meylan, Peter" value="Meylan, Peter|Meylan, Peter">Meylan, Peter</option>

                            <option label="Mihok, Lorena" value="Mihok, Lorena|Mihok, Lorena">Mihok, Lorena</option>

                            <option label="Mikals-Adachi, Eileen" value="Mikals-Adachi, Eileen|Mikals-Adachi, Eileen">Mikals-Adachi, Eileen</option>

                            <option label="Miller, James" value="Miller, James|Miller, James">Miller, James</option>

                            <option label="Murphy, Sean" value="Murphy, Sean|Murphy, Sean">Murphy, Sean</option>

                            <option label="Nadler, Sarah" value="Nadler, Sarah|Nadler, Sarah">Nadler, Sarah</option>

                            <option label="Novikov, Sergei" value="Novikov, Sergei|Novikov, Sergei">Novikov, Sergei</option>

                            <option label="Oglesby, Donna" value="Oglesby, Donna|Oglesby, Donna">Oglesby, Donna</option>

                            <option label="Padgett, Gregory" value="Padgett, Gregory|Padgett, Gregory">Padgett, Gregory</option>

                            <option label="Petersen, Christina" value="Petersen, Christina|Petersen, Christina">Petersen, Christina</option>

                            <option label="Porter, Ronald" value="Porter, Ronald|Porter, Ronald">Porter, Ronald</option>

                            <option label="Possidente, Amy" value="Possidente, Amy|Possidente, Amy">Possidente, Amy</option>

                            <option label="Prescott, Barbara" value="Prescott, Barbara|Prescott, Barbara">Prescott, Barbara</option>

                            <option label="Ransom, Brian" value="Ransom, Brian|Ransom, Brian">Ransom, Brian</option>

                            <option label="Robinson, Kathleen" value="Robinson, Kathleen|Robinson, Kathleen">Robinson, Kathleen</option>

                            <option label="Rossomando, Ron" value="Rossomando, Ron|Rossomando, Ron">Rossomando, Ron</option>

                            <option label="Rousseau, Marshall" value="Rousseau, Marshall|Rousseau, Marshall">Rousseau, Marshall</option>

                            <option label="Rowland, Christopher" value="Rowland, Christopher|Rowland, Christopher">Rowland, Christopher</option>

                            <option label="Rycyk, Athena" value="Rycyk, Athena|Rycyk, Athena">Rycyk, Athena</option>

                            <option label="Sanfilippo, Marjorie" value="Sanfilippo, Marjorie|Sanfilippo, Marjorie">Sanfilippo, Marjorie</option>

                            <option label="Scheu, Ashley" value="Scheu, Ashley|Scheu, Ashley">Scheu, Ashley</option>

                            <option label="Schnabel, R. Chris" value="Schnabel, R. Chris|Schnabel, R. Chris">Schnabel, R. Chris</option>

                            <option label="Schwarzmueller, April" value="Schwarzmueller, April|Schwarzmueller, April">Schwarzmueller, April</option>

                            <option label="Sears, Jason" value="Sears, Jason|Sears, Jason">Sears, Jason</option>

                            <option label="Shannon, Elizabeth" value="Shannon, Elizabeth|Shannon, Elizabeth">Shannon, Elizabeth</option>

                            <option label="Shen, Jing" value="Shen, Jing|Shen, Jing">Shen, Jing</option>

                            <option label="Sherry, Jesse" value="Sherry, Jesse|Sherry, Jesse">Sherry, Jesse</option>

                            <option label="Shovali, Tamar" value="Shovali, Tamar|Shovali, Tamar">Shovali, Tamar</option>

                            <option label="Simard, Peter" value="Simard, Peter|Simard, Peter">Simard, Peter</option>

                            <option label="Singleton, Laura" value="Singleton, Laura|Singleton, Laura">Singleton, Laura</option>

                            <option label="Skinner, Arthur" value="Skinner, Arthur|Skinner, Arthur">Skinner, Arthur</option>

                            <option label="Smith, Nancy" value="Smith, Nancy|Smith, Nancy">Smith, Nancy</option>

                            <option label="Smith, Norm" value="Smith, Norm|Smith, Norm">Smith, Norm</option>

                            <option label="Soli, Alan" value="Soli, Alan|Soli, Alan">Soli, Alan</option>

                            <option label="Spohrer, Erika" value="Spohrer, Erika|Spohrer, Erika">Spohrer, Erika</option>

                            <option label="Spoth, Daniel" value="Spoth, Daniel|Spoth, Daniel">Spoth, Daniel</option>

                            <option label="Standiford, Les" value="Standiford, Les|Standiford, Les">Standiford, Les</option>

                            <option label="Szelistowski, William" value="Szelistowski, William|Szelistowski, William">Szelistowski, William</option>

                            <option label="Tackitt, Alaina" value="Tackitt, Alaina|Tackitt, Alaina">Tackitt, Alaina</option>

                            <option label="Tetrault, Richard" value="Tetrault, Richard|Tetrault, Richard">Tetrault, Richard</option>

                            <option label="Thompson, Joel" value="Thompson, Joel|Thompson, Joel">Thompson, Joel</option>

                            <option label="Thonen, Jessica" value="Thonen, Jessica|Thonen, Jessica">Thonen, Jessica</option>

                            <option label="Tolentino, Adriana" value="Tolentino, Adriana|Tolentino, Adriana">Tolentino, Adriana</option>

                            <option label="Vincent, Heather" value="Vincent, Heather|Vincent, Heather">Vincent, Heather</option>

                            <option label="Walker, Walter" value="Walker, Walter|Walker, Walter">Walker, Walter</option>

                            <option label="Wang, Kirk" value="Wang, Kirk|Wang, Kirk">Wang, Kirk</option>

                            <option label="Wang, Wei" value="Wang, Wei|Wang, Wei">Wang, Wei</option>

                            <option label="Ward, Scott" value="Ward, Scott|Ward, Scott">Ward, Scott</option>

                            <option label="Wenzel, Kristina" value="Wenzel, Kristina|Wenzel, Kristina">Wenzel, Kristina</option>

                            <option label="Weppner, Stephen" value="Weppner, Stephen|Weppner, Stephen">Weppner, Stephen</option>

                            <option label="Wetzel, Laura" value="Wetzel, Laura|Wetzel, Laura">Wetzel, Laura</option>

                            <option label="Wigton, Robert" value="Wigton, Robert|Wigton, Robert">Wigton, Robert</option>

                            <option label="Wolfe, Kevin" value="Wolfe, Kevin|Wolfe, Kevin">Wolfe, Kevin</option>

                            <option label="Yamazaki, Chieko" value="Yamazaki, Chieko|Yamazaki, Chieko">Yamazaki, Chieko</option>

                            <option label="Young-Erdos, Crystal" value="Young-Erdos, Crystal|Young-Erdos, Crystal">Young-Erdos, Crystal</option>

                            <option label="Zielinski, Brian" value="Zielinski, Brian|Zielinski, Brian">Zielinski, Brian</option>

                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="specialized">Specialized Search:</label>
                        <select id="specialized" class="form-control" name="specialized">

                            <option label="All" value="0|All">All</option>


                            <option label="American Studies major/related" value="ZR01|American Studies major/related">American Studies major/related</option>

                            <option label="Ancient Studies major/related" value="ZR12|Ancient Studies major/related">Ancient Studies major/related</option>

                            <option label="Classical Humanities/related" value="ZR11|Classical Humanities/related">Classical Humanities/related</option>

                            <option label="Communication major/related" value="ZR03|Communication major/related">Communication major/related</option>

                            <option label="E. Asian Studies major/related" value="ZR02|E. Asian Studies major/related">E. Asian Studies major/related</option>

                            <option label="Environ Studies major/related" value="ZR04|Environ Studies major/related">Environ Studies major/related</option>

                            <option label="Film Studies major/related" value="ZR09|Film Studies major/related">Film Studies major/related</option>

                            <option label="History major/related" value="ZR10|History major/related">History major/related</option>

                            <option label="Honors courses" value="ZR07|Honors courses">Honors courses</option>

                            <option label="Int Rel/Glbl Aff major/related" value="ZR06|Int Rel/Glbl Aff major/related">Int Rel/Glbl Aff major/related</option>

                            <option label="MENA minor/related" value="ZR15|MENA minor/related">MENA minor/related</option>

                            <option label="Reflectve Serv/Learning Course" value="ZR13|Reflectve Serv/Learning Course">Reflectve Serv/Learning Course</option>

                            <option label="Statistics Courses" value="ZR08|Statistics Courses">Statistics Courses</option>

                            <option label="Women&#39;s/Gen Stu major/related" value="ZR05|Women&#39;s/Gen Stu major/related">Women&#39;s/Gen Stu major/related</option>

                            <option label="Writing Intensive Course" value="ZR14|Writing Intensive Course">Writing Intensive Course</option>

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="open_only" name="open_only">Display Open Classes Only
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div>
</div>

        </div><!-- /.container -->

		<script src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



	</body>
</html>
