<!-- Edit this part!!! -->

<div class="row">
    <div class="col-md-4">

			<div class="input-group">
				<span class="input-group-addon" >Owner:</span>
				<input type="text" id="asset_owner_pk" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="asset_owner_desc" class="form-control" placeholder="King" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Group:</span>
				<input type="text" id="asset_owner_group_fk" class="form-control" placeholder="Mascots" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Orgn:</span>
				<input type="text" id="orgn_code" class="form-control" placeholder="1958" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status:</span>
				<input type="text" id="status_ck" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status Date:</span>
				<input type="text" id="asset_owner_pk" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Activity Date:</span>
				<input type="text" id="activity_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >User ID:</span>
				<input type="text" id="user_id" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

	  <hr>

</div>


<!-- Edit this part^^^^^ -->
