<!-- Edit this part!!! -->

<div class="row">
    <div class="col-md-4">

			<div class="input-group">
				<span class="input-group-addon" >Asset Tag:</span>
				<input type="text" id="asset_tag_pk" class="form-control" placeholder="*****" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Tag Type:</span>
				<input type="text" id="tag_type_pk_ck" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Asset Type:</span>
				<input type="text" id="asset_type_fk" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="asset_desc" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status:</span>
				<input type="text" id="status_ck" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status Date:</span>
				<input type="text" id="status_date" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="status_desc" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Manufacturer:</span>
				<input type="text" id="manufacturer_fk" class="form-control" placeholder="Dell" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="manufacturer_desc" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Vendor:</span>
				<input type="text" id="vendor_fk" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="vendor_desc" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

	  <hr>
    </div>

		<div class="col-md-4 form-inline">

			<div class="input-group">
				<span class="input-group-addon" >PO #:</span>
				<input type="text" id="purchase_order" class="form-control" placeholder="*****" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Purchase Date:</span>
				<input type="text" id="purchase_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Invoice:</span>
				<input type="text" id="invoice" class="form-control" placeholder="*****" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Warranty Start:</span>
				<input type="text" id="warranty_start_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Warranty End:</span>
				<input type="text" id="warranty_end_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Asset Department:</span>
				<input type="text" id="orgn_code" class="form-control" placeholder="******" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="orgn" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Building:</span>
				<input type="text" id="building_fk" class="form-control" placeholder="Brown Hall" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Location:</span>
				<input type="text" id="location" class="form-control" placeholder="123A" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Last Inventory:</span>
				<input type="text" id="last_inv_verify" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

		<hr>
		</div>
		<div class="col-md-4 form-inline">

			<div class="input-group">
				<span class="input-group-addon" >Serial No:</span>
				<input type="text" id="serial_number_u" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Model No:</span>
				<input type="text" id="model_number" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Product ID:</span>
				<input type="text" id="product_id" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Alt Tag:</span>
				<input type="text" id="alt_asset_tag" class="form-control" placeholder="*****" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Alt Tag Type:</span>
				<input type="text" id="alt_tag_type_ck" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Asset User Name:</span>
				<input type="text" id="" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Asset User E-mail:</span>
				<input type="text" id="" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >CPU Speed:</span>
				<input type="text" id="cpu_speed" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Memory:</span>
				<input type="text" id="memory" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >IP Type:</span>
				<input type="text" id="ip_type_ck" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >PGP Encrypted:</span>
				<input type="text" id="encrypted_ck" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

	  <hr>
		</div>
</div>


<!-- Edit this part^^^^^ -->
