<div class="row">
    <div class="col-md-4">

			<div class="input-group">
				<span class="input-group-addon" >Asset Group:</span>
				<input type="text" id="asset_group_pk" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="asset_group_desc" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >IP Report:</span>
				<input type="text" id="ip_rpt_ck" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status:</span>
				<input type="text" id="status_ck" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status Date:</span>
				<input type="text" id="status_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Activity Date:</span>
				<input type="text" id="activity_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >User ID:</span>
				<input type="text" id="user_id" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

	  <hr>
    </div>

		<div class="col-md-4 form-inline">

			<div class="input-group">
				<span class="input-group-addon" >IP 1:</span>
				<input type="text" id="ip1_u" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >IP 2:</span>
				<input type="text" id="ip2_u" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >IP 3:</span>
				<input type="text" id="ip3_u" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >IP 4:</span>
				<input type="text" id="ip4_u" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Note:</span>
				<input type="text" id="ip_notes" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status:</span>
				<input type="text" id="status_ck" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status Date:</span>
				<input type="text" id="status_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Activity Date:</span>
				<input type="text" id="activity_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >User ID:</span>
				<input type="text" id="user_id" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

		<hr>
		</div>
		
</div>
