


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Asset Manager &middot; Eckerd College</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="class schedule">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico" />


	</head>
	<body>
        <!-- Fixed navbar -->
		<div class="navbar navbar-inverse navbar-static-top hidden-print" role="navigation">
			<div class="container">

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><em>Eckerd College Asset Manager</em></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="https://sites.google.com/a/eckerd.edu/its/home/its-resources" style="color: #FFF;">Help</a></li>
						<li><a href="/logout/" style="color: #FFF;">Logout</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!-- /.container -->
		</div>
		<!-- Begin page content -->
		<div class="container">

<div class="row">
    <div class="col-md-12">
        <!--<h2>EC Asset Manager</h2>-->
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-inline">

					<label for="idLookUp">Asset # Lookup:</label>
						<input id="idLookUp" type="text"  class="input-sm form-control">
						<hr>
    </div>
</div>

<!-- Edit this part!!! -->

<div class="row">
    <div class="col-md-4 form-inline">

					<label for="jj">Asset # Lookup:</label>
						<input id="jj" type="text"  class="form-control">
	  <hr>
    </div>

		<div class="col-md-4 form-inline">

					<label for="jj">Asset # Lookup:</label>
						<input id="jj" type="text"  class="form-control">
		<hr>
		</div>
		<div class="col-md-4 form-inline">

					<label for="jj">Asset # Lookup:</label>
						<input id="jj" type="text"  class="form-control">
	  <hr>
		</div>
</div>


<!-- Edit this part^^^^^ -->



</div><!-- /.container -->

		<script src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



	</body>
</html>
