<!-- Edit this part!!! -->

<div class="row">
    <div class="col-md-4">

			<div class="input-group">
				<span class="input-group-addon" >Printer:</span>
				<input type="text" id="printer_pk" class="form-control" placeholder="XXX" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="print_desc" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Charge Back:</span>
				<input type="text" id="charge_back" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Activity Date:</span>
				<input type="text" id="activity_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >User ID:</span>
				<input type="text" id="user_id" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

	  <hr>
  
</div>


<!-- Edit this part^^^^^ -->
