<!-- Edit this part!!! -->

<div class="row">
    <div class="col-md-4">

			<div class="input-group">
				<span class="input-group-addon" >Building Code:</span>
				<input type="text" id="building_code" class="form-control" placeholder="XXX" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="building_desc" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Activity Date:</span>
				<input type="text" id="activity_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >User ID:</span>
				<input type="text" id="user_id" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

	  <hr>
    </div>

</div>


<!-- Edit this part^^^^^ -->
