<!-- Edit this part!!! -->

<div class="row">
    <div class="col-md-4">

			<div class="input-group">
				<span class="input-group-addon" >Agreement:</span>
				<input type="text" id="agreement_pk" class="form-control" placeholder="*****" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="agreement_desc" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Agreement Type:</span>
				<input type="text" id="agreement_type_ck" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Agreement Ref:</span>
				<input type="text" id="agreement_reference" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Licence Type:</span>
				<input type="text" id="licence_type_ck" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Renewal Period:</span>
				<input type="text" id="renewal_period" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Agreement Start:</span>
				<input type="text" id="agreement_start_date" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Agreement End:</span>
				<input type="text" id="agreement_end_date" class="form-control" placeholder="" aria-describedby="basic-addon1">
			</div>

	  <hr>
    </div>

		<div class="col-md-4 form-inline">

			<div class="input-group">
				<span class="input-group-addon" >Vendor:</span>
				<input type="text" id="vendor_fk" class="form-control" placeholder="*****" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Description:</span>
				<input type="text" id="vendor_desc" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Agreement Amt:</span>
				<input type="text" id="agreement_amount" class="form-control" placeholder="*****" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Note:</span>
				<input type="text" id="notes" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status:</span>
				<input type="text" id="status_ck" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Status Date:</span>
				<input type="text" id="status_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >Activity Date:</span>
				<input type="text" id="activity_date" class="form-control" placeholder="January 1, 2000" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
				<span class="input-group-addon" >User ID:</span>
				<input type="text" id="user_id" class="form-control" placeholder="Mr. Triton" aria-describedby="basic-addon1">
			</div>

		<hr>

</div>


<!-- Edit this part^^^^^ -->
