
@*
@(content: Html)
*@



<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Asset Manager &middot; Eckerd College</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="class schedule">
        <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/styles.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico" />


	</head>
	<body>
        <!-- Fixed navbar -->
		<div class="navbar navbar-inverse navbar-static-top hidden-print" role="navigation">
			<div class="container">

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><em>Eckerd College Asset Manager</em></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="https://sites.google.com/a/eckerd.edu/its/home/its-resources" style="color: #FFF;">Help</a></li>
						<li><a href="/logout/" style="color: #FFF;">Logout</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!-- /.container -->
		</div>
		<!-- Begin page content -->
		<div class="container">

<div class="row">
    <div class="col-md-12">
        <!--<h2>EC Asset Manager</h2>-->
    </div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Asset # Lookup...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go!</button>
			</span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
	<hr>
</div>

@*
@content
*@
@assetGroups.render


<!-- Edit this part!!!

<div class="row">


    <div class="col-md-4 form-inline">

				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Asset</span>
				  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
				</div>

					<label for="jj">Asset # Lookup:</label>
						<input id="jj" type="text"  class="form-control">
	  <hr>
    </div>

		<div class="col-md-4 form-inline">

					<label for="jj">Asset # Lookup:</label>
						<input id="jj" type="text"  class="form-control">
		<hr>
		</div>
		<div class="col-md-4 form-inline">

					<label for="jj">Asset # Lookup:</label>
						<input id="jj" type="text"  class="form-control">
	  <hr>
		</div>
</div>


Edit this part^^^^^ -->




</div><!-- /.container -->

		<script src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



	</body>
</html>
